<card class="bg-black" data-media="photo">
  <section>
    <box class="width-100pc">
      <section>
        <picture class="aspect-ratio-1x1"><img></picture>
      </section>
    </box>
    <box class="absolute bg-black-1-2 height-100pc hover tablet-hide width-100pc z-index-1">
      <section class="align-center justify-center">
        <span class="bolder margin-right-50px">
          <ico class="margin-right-5px" data-height data-width="25px"><n class="gg-heart"></n></ico>
          <text>38</text>
        </span>
        <span>
          <ico class="margin-right-5px" data-height data-width="25px"><n class="gg-comment"></n></ico>
          <text>83</text>
        </span>
      </section>
    </box>
  </section>
</card>
