<block>
    <section>
        <card class="font-size-14px line-height-50px max-width-100pc width-400px">
            <column>
                <box class="border-bottom-1px-solid border-color-db color-ff3b30 padding-x-20px">
                    <row class="align-center justify-center">
                        <text class="bolder">Report</text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid border-color-db color-ff3b30 padding-x-20px">
                    <row class="align-center justify-center">
                        <text class="bolder">Unfollow</text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid border-color-db padding-x-20px">
                    <row class="align-center justify-center">
                        <text>Add to favorites</text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid border-color-db padding-x-20px">
                    <row class="align-center justify-center">
                        <text>Go to post</text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid border-color-db padding-x-20px">
                    <row class="align-center justify-center">
                        <text>Share to...</text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid border-color-db padding-x-20px">
                    <row class="align-center justify-center">
                        <text>Copy link</text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid border-color-db padding-x-20px">
                    <row class="align-center justify-center">
                        <text>Embed</text>
                    </row>
                </box>
                <box>
                    <row class="align-center justify-center">
                        <text>Cancel</text>
                    </row>
                </box>
            </column>
        </card>
    </section>
</block>
