/*COLOR*/
.color-0094f6 {
    color: #0094f6;
}
.color-0096c7 {
        color: #0096c7;
}

/*HEIGHT*/
.height-40px {
    height: 40px;
}

/*LINE HEIGHT*/
.line-height-24px {
    line-height: 24px;
}

/*MARGIN*/
.margin-y-20px {
    margin-bottom: 20px;
    margin-top: 20px;
}

/*PADDING*/
.padding-y-30px {
    padding-bottom: 30px;
    padding-top: 30px;
}

/*TEXT TRANSFORM*/
.text-transform-capitalize {
    text-transform: capitalize;
}