<column class="font-size-14px line-height-50px max-width-100pc width-400px">
    <box class="border-bottom-1px-solid border-color-db color-ff3b30 display-none padding-x-20px" data-tap="controller.feed.delete(event.target)">
        <row class="align-center justify-center">
            <text class="bolder">Delete</text>
        </row>
    </box>
    <box class="border-bottom-1px-solid border-color-db color-ff3b30 padding-x-20px">
        <row class="align-center justify-center">
            <text class="bolder">Report</text>
        </row>
    </box>
    <box class="border-bottom-1px-solid border-color-db color-ff3b30 padding-x-20px" data-tap="modal.exit(); controller.users.unfollow(event.target)">
        <row class="align-center justify-center">
            <text class="bolder">Unfollow</text>
        </row>
    </box>
    <box class="border-bottom-1px-solid border-color-db padding-x-20px">
        <row class="align-center justify-center">
            <text>Add to favorites</text>
        </row>
    </box>
    <box class="border-bottom-1px-solid border-color-db padding-x-20px">
        <row class="align-center justify-center">
            <text>Go to post</text>
        </row>
    </box>
    <box class="border-bottom-1px-solid border-color-db padding-x-20px">
        <row class="align-center justify-center">
            <text>Share to...</text>
        </row>
    </box>
    <box class="border-bottom-1px-solid border-color-db padding-x-20px">
        <row class="align-center justify-center">
            <text>Copy link</text>
        </row>
    </box>
    <box class="border-bottom-1px-solid border-color-db padding-x-20px">
        <row class="align-center justify-center">
            <text>Embed</text>
        </row>
    </box>
    <box data-tap="modal.exit(event.target)">
        <row class="align-center justify-center">
            <text>Cancel</text>
        </row>
    </box>
</column>
