<footer class="fg-lightgray hide mobile-flex" data-bottom="0" data-position="fixed" data-right="0" data-width="100%" data-xga-max-width="100%" data-z-index="3">
  <picture class="absolute absolute-full fade-bottom-to-top-black hide mobile-show" data-z-index="1"></picture>
  <card class="align-center bg-white border-radius-50px justify-center margin-auto margin-y-20px shadow mobile-bg-none mobile-fg-white mobile-shadow-none mobile-width-100pc" data-display="flex" data-flex-direction="row" data-width="250px" data-xga-1-border-radius="0" data-xga-1-margin="0" data-xga-1-width="100%" data-z-index="2">
    <icon class="align-center flex justify-center" data-href="/">
      <div class="gg-home"></div>
    </icon>
    <icon class="align-center flex justify-center" data-href="/find/">
      <div class="gg-search"></div>
    </icon>
    <icon class="align-center flex justify-center" data-href="/post/">
      <div class="gg-add-r"></div>
    </icon>
    <icon class="align-center flex justify-center" data-href="/activity/">
      <div class="gg-heart"></div>
    </icon>
    <box>
      <section>
        <ico>
          <n></n>
        </ico>
      </section>
    </box>
  </card>
</footer>
